/*#boxRGPD {
	position:fixed;
	bottom:0px;
	right: 0px;
	width:80%;
	background-color:#222;
}

#boxRGPD p {
	color:#eee;
	padding:10px;
	display:inline-block;
	width:80%;
}

#boxRGPD div#btnRGPD {
	color:#222;
	background-color:#eee;
	border-radius:5px;
	display:inline-block;
	padding:5px 10px;;
	cursor:pointer;
}*/
#boxRGPD {
	background-color: #000;
	color: #fff;
	position: fixed;
	bottom: 50px;
	right: 0px;
	width: 50%;
	padding: 10px 20px;
	font-size: 18px;
	opacity: 0.9;
}

#boxRGPD a {
	color: #fff;
}

#boxRGPD a:hover {
	color: #ccc;
}

#boxRGPD p, #boxRGPD div {
	display: inline-block;
}

#boxRGPD p {
	width: 85%;
}

#boxRGPD div {
	margin-left: 5px;
	padding: 10px;
	border: 1px solid #000;
	background-color: #ccc;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	top: 10px;
}

#boxRGPD div:hover {
	background-color: #c2c2c2;
	cursor: pointer;
}